<!DOCTYPE html>
<html>
<head>
  {{ partial "css.html" . }}
  {{ partial "js.html" . }}
</head>
<body>
  <main>
    {{ partial "sidebar.html" . }}
      <div class="content">
      {{ range .Pages }}
      <div id={{ urlize .Title }}>
        {{ .Content }}
      </div>
      {{ end }}
    </div>
  </main>
</body>
</html>
