<!DOCTYPE html>
<html>
<head>
  {{ partial "css.html" . }}
  {{ partial "js.html" . }}
</head>
<body>
  <main>
    {{ partial "sidebar.html" . }}
    <div class="content">
      {{ .Content }}
    </div>
  </main>
</body>
</html>
