/* Sidebar & content container */
main {
  display: flex;
  flex-direction: row;
}

/* Sidebar container */
.sidebar {
  background-color: #F8F8F8;
  border-right: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: auto;
  width: 250px;
}

/* General Styles */
.sidebar a,
.sidebar a:visited {
  display: block;
  text-decoration: none;
  color: #008aff;
}
.sidebar a:hover {
  background-color: #efefef;
}

.sidebar ul {
  padding: 0px;
  list-style-type: none;
}

/* Top Logo box */
.sidebar .logo {
  text-align: center;
}

.sidebar .service .title {
  font-size: 1.1em;
}

.sidebar a {
  padding-left: 35px;
}

.sidebar a.title {
  padding-left: 25px;
}
/* Sub-categories (posts) */
.sidebar .service ul {
  padding: 5px 0px;
  margin-left: 0px;
}

.sidebar .service ul a {
  color: #0075ae;
}
