table {
  width: 100%;
  border-collapse: collapse;
}
/* Table Header */

table thead tr th {
  font-family: monospace;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: left;
}

table td {
  padding: 14px;
}

table tr {
  border-bottom: 1px solid #f0f4f7
}
