<div class="sidebar">
  <div class="logo">
    <h4><a href="/">Rune</a></h4>
  </div>
  <ul class="services">
    {{ range $section := .Site.Sections }}
      <li class="service">
        <a href="{{ $section.Permalink }}" class="title">{{ .Title }}</a>
        <ul>
          {{ range .Pages }}
            <li><a href="{{ $section.Permalink }}#{{ urlize .Title }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
</div>
